body {
    background-color: #022B3A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

.page {
    background-color: antiquewhite;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #022B3A;
}

.header {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.header p {
    font-size: 60px;
    margin-right: 10px;
    color: #1F7A8C;
}

.colonne {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #022B3A;
    border-bottom: 3px solid #022B3A;
    text-align: justify;
}

.colonna1, .colonna2, .colonna3 {
    border: 1px solid #022B3A;
}

.colonna1 {
    width: 15%;
    text-align: right;
}

.colonna2 {
    width: 55%;
    padding: 5px ;
    padding-right: 5px;
    padding-left: 5px;
}

.colonna3 {
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #1F7A8C;
}

ul{
    list-style: none;
    text-align: right;
    padding-right: 10px;
}

footer {
    height: 150px;
}

@media (max-width: 800px) {
    .page {
        width: 400px;
    }

    .colonne {
        flex-direction: column;
    }

    .colonna1, .colonna2, .colonna3 {
        width: 100%;
    }

    .colonna1 {
        text-align: center;
    }
}